<div class="card h-100 w-100  border-0 ">
  <div class="card-header">
    <h2 class="text-center">Problem info</h2>
  </div>
  <div [formGroup]="problemInfoForm" class="h-100 hidden-scroll p-2">
    <label>vehicle</label>
    <input type="text" formControlName="vehicles">
    <!--display error message if street is not valid-->
    <small [hidden]="problemInfoForm.controls.vehicles.valid">
      vehicle is required
    </small>
    <label>capacity</label>
    <input type="text" formControlName="capacity">
    <!--display error message if street is not valid-->
    <small [hidden]="problemInfoForm.controls.capacity.valid">
      capacity is required
    </small>
  </div>
  <div class="card-footer">
    <button class="btn-primary w-100" (click)="onClick()">
      Continue
    </button>
  </div>
</div>
