<div class="card h-100 w-100  border-0 ">
  <div class="card-header">
    <h2 class="text-center">Problem info</h2>
  </div>
  <div [formGroup]="problemInfoForm" class="h-100 hidden-scroll p-2  d-flex flex-column">
    <label>Vehicles</label>
    <input type="text" formControlName="vehicles">
    <!--display error message if street is not valid-->
    <small [hidden]="problemInfoForm.controls.vehicles.valid">
      vehicle is required
    </small>
    <label>Capacity</label>
    <input type="text" formControlName="capacity">
    <!--display error message if street is not valid-->
    <small [hidden]="problemInfoForm.controls.capacity.valid">
      capacity is required
    </small>
  </div>
  <div class="card-footer">
    <button class="w-100" (click)="onClick()" [ngClass]="problemInfoForm.valid ? 'btn-primary' : 'btn-secondary'" [disabled]="!problemInfoForm.valid">
      Continue
    </button>
  </div>
</div>
