<div class="card h-100 w-100  border-0 ">
  <div class="card-header">
    <h2 class="text-center">Getting started</h2>
  </div>
  <div class="h-100 hidden-scroll p-2">
    Lorem ipsum dolor sit amet
    Mauris sit amet posuere tellus, quis pellentesque eros. Vestibulum libero est, sodales quis feugiat ac, ullamcorper non tortor. Etiam ullamcorper eget justo at bibendum. Mauris hendrerit lectus eu orci vehicula dictum. Praesent sit amet faucibus velit. Aenean lobortis turpis quis est aliquet commodo. Nam eget augue euismod, pretium quam vitae, fermentum ipsum. Nulla facilisi. Quisque vehicula volutpat nulla volutpat consectetur. Duis a varius enim.
  </div>
  <div class="card-footer">
    <button class="btn btn-primary w-100" (click)="onClick()">
      Continue
    </button>
  </div>
</div>
