/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

// .btn-primary {
//   color: #fff;
//   background-color: #1b6ec2;
//   border-color: #1861ac;
// }
.toast-top-right {
  top: 7%;
}

.btn-left{
  margin-right: 3px;
  flex:1;
}

.btn-right{
  margin-left: 3px;
  flex:1;
}

small{
  width: 100% !important;
  margin-top: 0.25rem !important;
    font-size: 80% !important;
    color: #dc3545 !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important; 
  box-shadow: none !important; 
}

input.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,10,29,0.25) !important;
}

label{
  margin-bottom:0 !important;
  margin-top: 0.5rem !important;
}

.leaflet-right .leaflet-routing-container.leaflet-routing-container-hide{
  display:none !important;
}

.shadowed{
  box-shadow: 1px 0 7px rgb(16 16 18 / 20%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
