<div class="card card-body position-relative">
  <button type="button" class="close close-button" aria-label="Close" (click)="closeOnClick()">
    <fa-icon [icon]="faTimes" class="fa-sm"></fa-icon>
  </button>
  <div [formGroup]="customerInfoForm" class="d-flex flex-column">
    <label>Ready time</label>
    <input type="datetime-local"  formControlName="readyTime">
    <small [hidden]="customerInfoForm.controls.readyTime.valid">
      readyTime is required
    </small>
    <label>Due date</label>
    <input type="datetime-local"  formControlName="dueDate">
    <small [hidden]="customerInfoForm.controls.dueDate.valid">
      dueDate is required
    </small>
    <label>Service time</label>
    <input type="time" formControlName="serviceTime">
    <small [hidden]="customerInfoForm.controls.serviceTime.valid">
      serviceTime is required
    </small>
    <label>Demand</label>
    <input type="text" formControlName="demand">
    <small [hidden]="customerInfoForm.controls.demand.valid">
      demand is required
    </small>
  </div>
</div>
