<div class="card h-100 w-100  border-0 ">
  <div class="card-header">
    <h2 class="text-center">Solution</h2>
  </div>
  <div class="h-100 hidden-scroll p-2  d-flex flex-column">
    <label>Total distance: {{solution.solution.distance}}</label>
    <label>Total time: {{solution.solution.time}}</label>
    <div *ngFor="let route of  solution.solution.routes; let i=index">
      <app-route-details [route]="route" (routeMouseOver)="selectedRouteChanged($event)"></app-route-details>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="onBackClick()" class="btn-primary w-100">
      Back
    </button>
  </div>
</div>
