
.solution-header{
padding:0.25rem;
}

.text-center{
    margin:0!important;
}

.solution-header-detail{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}