<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          <app-map></app-map>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-map-sidebar></app-map-sidebar>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div id="mapContainer">
  <app-map></app-map>
  <div id="customers" class="popover">
    <app-map-sidebar></app-map-sidebar>
  </div>
</div>

