<div class="card h-100 w-100 border-0 shadowed">
  <div class="card-header">
    <h2 class="text-center">Customers</h2>
  </div>
  <div class="h-100 hidden-scroll p-2">
    <div [formGroup]="customersInfoForm">
      <div formArrayName="customersInfo">
        <div *ngFor="let customer of  customersInfo.controls; let i=index">
          <div [formGroup]="customer" class="margined shadowed">
            <app-marker-details [group]="customer" [customer]="customers[i]" [id]="i+1"
              [depot]="vrptwForm.controls.depotInfo" (closed)="removeCustomer($event)"></app-marker-details>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex  flex-row  flex-wrap">
    <div class="btn-left">
      <button (click)="onBackClick()" class="btn btn-primary">
        Back
      </button>
    </div>
    <div class="btn-right">
      <button class="btn" (click)="onSolveClick()"
        [ngClass]="customersInfoForm.valid ? 'btn-primary' : 'btn-secondary'" [disabled]="!customersInfoForm.valid">
        Solve
      </button>
    </div>
  </div>
</div>