<div class="h-100 w-100 sidebar">
  <ng-container  [formGroup]="vrptwForm" [ngSwitch]="viewCounter">
    <div class="h-100 w-100" @fadeSlideInOut>
      <app-map-sidebar-getting-started *ngSwitchCase="0"
                                       (continueClicked)="viewShown()"></app-map-sidebar-getting-started>
      <app-map-sidebar-problem-info [group]="vrptwForm.controls.problemInfo" *ngSwitchCase="1" (continueClicked)="viewShown()"></app-map-sidebar-problem-info>
      <app-map-sidebar-depot *ngSwitchCase="2" (continueClicked)="viewShown()"></app-map-sidebar-depot>
      <app-map-sidebar-customers *ngSwitchCase="3"></app-map-sidebar-customers>
    </div>
  </ng-container>
</div>


<!--      <ng-container [formGroup]="vrptwForm">-->

<!--  </ng-container>-->
<!--  <div class="h-100 w-100" *ngIf="firstShow; else gettingStarted" @fadeSlideInOut>-->
<!--   -->
<!--  </div>-->
<!--  <ng-template class="h-100 w-100" #gettingStarted>-->
<!--  </ng-template>-->

